@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    --veryDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: var(--veryLightGray);
}

.contain{
    width: 1210px;
    height: 765px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

header{
    margin-bottom: 40px;
}

header div h1{
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    line-height: 55px;
    margin-bottom: 25px;
    color: var(--grayishBlue);
}

header div span{
    font-weight: 600;
    display: block;
    color: var(--veryDarkBlue);
}

header div p{
    text-align: center;
    padding: 0px 320px;
    font-size: 16px;
    color: var(--grayishBlue);
    line-height: 25px;
}

main{
    position: relative;
    width: 1210px;
    height: 535px;
    margin: 0px auto;
}

.card{
    width: 380px;
    height: 250px;
    border-radius: 10px;
    background-color: #fff;
    padding: 30px;
    position: relative;
    box-shadow: 10px 10px 15px hsla(229, 6%, 66%, 0.2), -10px -10px 15px hsla(229, 6%, 66%, 0.2);
}

.card h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.image{
    position: absolute;
    bottom: 15px;
    right: 25px;
}

.card p{
    color: var(--grayishBlue);
}

.cyan{
    position: absolute;
    border-top: 4px solid var(--Cyan);
    top: 50%;
    transform: translateY(-50%);
}

.red{
    position: absolute;
    border-top: 4px solid var(--Red);
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.orange{
    position: absolute;
    border-top: 4px solid var(--Orange);
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.blue{
    position: absolute;
    top:50%;
    right: 0px;
    transform: translateY(-50%);
    border-top: 4px solid var(--Blue);
}

footer{
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.attribution {
    font-size: 14px;
    text-align: center;
    color: var(--Red);
}

.attribution a{
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1250px){
.contain{
    width: 600px;
    height: 1350px;
    position: static;
    transform: none;
    margin: 30px auto;
}

header div p{
    padding: 0px 10px;
}

main{
    width: 600px;
}

.card{
    position: static;
}
.cyan, .red, .orange, .blue{
    position: relative;
    transform: none;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 35px auto;
}
footer{
    display: none;
    }
}

@media screen and (max-height: 920px){
.contain{
    position: static;
    transform: none;
    margin: 20px auto;
}
}

@media screen and (max-height: 830px){
    footer{
        display: none;
        }
}

@media screen and (max-width: 600px){
.contain{
    width: 375px;
    height: 1170px;
    padding: 30px;
}

header div h1{
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 20px;
    color: var(--veryDarkBlue);
}

header div p{
    padding: 0px;
}

main{
    width: 375px;
}

.card{
    width: 300px;
    height: 200px;
    font-size: 0.8rem;
}

.cyan, .red, .orange, .blue{
    margin: 35px 8px;
}

.card div img{
    width: 50px;
}
footer{
    display: none;
    }
}

